<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gulaev.dao.BankCardRepository">

  <select id="getById" resultMap="BankCardResultMap">
    SELECT * FROM bank_cards WHERE bank_card_id = #{bankCardId}
  </select>

  <select id="getAll" resultMap="BankCardResultMap">
    SELECT * FROM bank_cards
  </select>

  <select id="getByClientId" resultMap="BankCardResultMap">
    SELECT * FROM bank_cards WHERE client_id = #{clientId}
  </select>

  <insert id="create" parameterType="com.gulaev.model.BankCard" keyColumn="bank_card_id"
    keyProperty="bankCardId" useGeneratedKeys="true">
    INSERT INTO bank_cards (card_number, date_end, CVV, name_on_card)
    VALUES (#{cardNumber}, #{dateEnd}, #{cvv}, #{nameOnCard})
  </insert>

  <update id="update" parameterType="com.gulaev.model.BankCard">
    UPDATE bank_cards
    SET card_number = #{cardNumber}, date_end = #{dateEnd}, CVV = #{cvv}, name_on_card =
    #{nameOnCard}
    WHERE bank_card_id = #{bankCardId}
  </update>

  <delete id="delete" parameterType="int">
    DELETE FROM bank_cards WHERE bank_card_id = #{bankCardId}
  </delete>

  <select id="existByBankCardId" resultType="boolean" parameterType="int">
    SELECT EXISTS(SELECT 1 FROM bank_cards WHERE bank-card_id = #{bankCardId}) AS bankCardExist
  </select>

  <resultMap id="BankCardResultMap" type="com.gulaev.model.BankCard" autoMapping="false">
    <id property="bankCardId" column="bank_card_id"/>
    <result property="cardNumber" column="card_number"/>
    <result property="dateEnd" column="date_end"/>
    <result property="cvv" column="CVV"/>
    <result property="nameOnCard" column="name_on_card"/>
    <result property="clientId" column="client_id"/>
  </resultMap>
</mapper>