<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gulaev.dao.ContractRepository">

  <select id="getById" resultMap="ContractResultMap" parameterType="java.lang.Integer">
    SELECT * FROM contracts WHERE contract_id = #{contractId};
  </select>

  <update id="update" parameterType="com.gulaev.model.Contract">
    UPDATE contracts
    SET start_date = #{contract.startDate}, payment_id = #{contract.payment.paymentId},
    case_type_id = #{contract.caseType.caseTypeId}, client_id = #{contract.client.clientId},
    lawyer_id = #{contract.lawyer.lawyerId}
    WHERE contract_id = #{contract.contractId}
  </update>


  <insert id="create" parameterType="com.gulaev.model.Contract" keyColumn="contract_id"
    keyProperty="contractId" useGeneratedKeys="true">
    INSERT INTO contracts (start_date, payment_id, case_type_id, client_id, lawyer_id)
    VALUES (#{startDate}, #{payment.paymentId}, #{caseType.caseTypeId}, #{client.clientId},
    #{lawyer.lawyerId})
  </insert>

  <select id="getAll" resultMap="ContractResultMap">
    SELECT * FROM contracts;
  </select>

  <select id="getByClientId" resultMap="ContractResultMap" parameterType="java.lang.Integer">
    SELECT * FROM contracts WHERE client_id = #{clientId}
  </select>

  <select id="getByLawyerId" resultMap="ContractResultMap" parameterType="java.lang.Integer">
    SELECT * FROM contracts WHERE lawyer_id = #{lawyerId}
  </select>

  <select id="existByContractId" resultType="boolean" parameterType="int">
    SELECT EXISTS(SELECT 1 FROM contracts WHERE contract_id = #{contractId}) AS contractExist
  </select>


  <resultMap id="ContractResultMap" type="com.gulaev.model.Contract" autoMapping="false">
    <id property="contractId" column="contract_id"/>
    <result column="start_date" property="startDate"/>
    <association property="client"
      column="client_id" javaType="com.gulaev.model.Client"
      select="com.gulaev.dao.ClientRepository.getById"
      fetchType="eager"/>
    <association property="lawyer"
      column="lawyer_id" javaType="com.gulaev.model.Lawyer"
      select="com.gulaev.dao.LawyersRepository.getById"
      fetchType="eager"/>
    <association property="payment"
      column="payment_id" javaType="com.gulaev.model.Payment"
      select="com.gulaev.dao.PaymentRepository.getById"
      fetchType="eager"/>
    <association property="caseType"
      column="case_type_id" javaType="com.gulaev.model.CaseType"
      select="com.gulaev.dao.CaseTypeRepository.getById"
      fetchType="eager"/>
  </resultMap>
</mapper>