<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gulaev.dao.PassportRepository">


  <select id="getById" resultMap="PassportResultMap">
    SELECT * FROM passports WHERE passport_id = #{id}
  </select>

  <insert id="create" parameterType="com.gulaev.model.Passport" keyColumn="passport_id"
    keyProperty="passportId" useGeneratedKeys="true">
    INSERT INTO passports (passport_id, TIN, date_of_issue, issued_by)
    VALUES (#{passportId}, #{tin}, #{dateOfIssue}, #{issuedBy})
  </insert>

  <update id="update">
    UPDATE passports SET TIN = #{passport.tin}, date_of_issue = #{passport.date_of_issue}, issued_by
    = #{passport.issuedBy}
    WHERE passport_id = #{passport_id}
  </update>

  <delete id="delete">
    DELETE FROM passports WHERE passport_id = #{id}
  </delete>

  <select id="checkPassportExists" resultType="boolean" parameterType="int">
    SELECT EXISTS(SELECT 1 FROM passports WHERE passport_id = #{passportId}) AS passportExists
  </select>

  <select id="getAll" resultMap="PassportResultMap">
    SELECT * FROM passports
  </select>

  <resultMap id="PassportResultMap" type="com.gulaev.model.Passport" autoMapping="false">
    <id column="passport_id" property="passportId"/>
    <result column="TIN" property="tin"/>
    <result column="date_of_issue" property="dateOfIssue"/>
    <result column="issued_by" property="issuedBy"/>
  </resultMap>
</mapper>
